<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content >
  <div #map id = "map"></div>

<ion-fab right bottom>
  <button #addCache ion-fab color="primary" id="addCache" (click)="showNearbyPlaces()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>



</ion-content>
