<!--
  Generated template for the CachePlaceMatches page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CachePlaceMatches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-item *ngFor="let match of matches | async" (click)="viewUserProfile(match.user)">
      <ion-avatar item-left>
        <img src="data:image/png;base64,{{match.mainImg}}">
      </ion-avatar>
      <h2>{{match.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
