page-edit-profile {
  .img-wrap {
      position: relative;
      display: inline-block;
      font-size: 0;
  }
  .img-wrap .close {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 100;
      background-color: red;
      padding: 5px 2px 5px 2px;
      margin: 0px 0px 10px 10px;
      color: white;
      font-weight: bold;
      opacity: 1;
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
  }
}
