<!--
  Generated template for the EditProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons *ngIf="images.length<8" end>
      <button ion-button icon-only (click)="uploadImage($event)" padding>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

    <ion-grid>
      <ng-container *ngFor="let img of images; let i = index">
        <ion-row  *ngIf="i% 4 === 0">
          <ion-col col-25 *ngIf="i< images.length">
            <div class = "img-wrap">
              <span *ngIf="!images[i].addImgPlaceholder" class="close" (click)="deleteImage(images[i])">&times;</span>
              <img src="data:image/png;base64,{{images[i].imgSrc}}" (click)="showImage(images[i])" width="100%" />
            </div>
          </ion-col>
          <ion-col col-25 *ngIf="i+ 1 < images.length">
            <div class = "img-wrap">
              <span *ngIf="!images[i+1].addImgPlaceholder" class="close" (click)="deleteImage(images[i+1])">&times;</span>
              <img src="data:image/png;base64,{{images[i+ 1].imgSrc}}" (click)="showImage(images[i+ 1])" width="100%" />
            </div>
          </ion-col>
          <ion-col col-25 *ngIf="i+ 2 < images.length">
            <div class = "img-wrap">
              <span *ngIf="!images[i+2].addImgPlaceholder" class="close" (click)="deleteImage(images[i+2])">&times;</span>
              <img src="data:image/png;base64,{{images[i+ 2].imgSrc}}" (click)="showImage(images[i+ 2])" width="100%" />
            </div>
          </ion-col>
          <ion-col col-25 *ngIf="i+ 3 < images.length">
            <div class = "img-wrap">
              <span *ngIf="!images[i+3].addImgPlaceholder" class="close" (click)="deleteImage(images[i+3])">&times;</span>
              <img src="data:image/png;base64,{{images[i+ 3].imgSrc}}" (click)="showImage(images[i+ 3])" width="100%" />
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>

  <ion-item>
    <ion-textarea value ="{{(profile | async)?.message}}"  ></ion-textarea>
  </ion-item>
</ion-content>
