<!--
  Generated template for the SingleConversationPopover page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Conversation Options</ion-title>
  </ion-navbar>

</ion-header>

<ion-list>
  <ion-list-header>Options</ion-list-header>
  <button ion-item *ngIf = "conversation.blocked.isBlocked==false" (click)="blockConversation()"><ion-icon name="close-circle">  Block Conversation</ion-icon></button>
  <button ion-item *ngIf = "conversation.blocked.isBlocked==true && conversation.blocked.blockedBy===viewer" (click)="unblockConversation()"><ion-icon name="close-circle">  Unblock Conversation</ion-icon></button>
  <button ion-item *ngIf = "conversation.blocked.isBlocked==true && !(conversation.blocked.blockedBy===viewer)" (click)="unblockConversation()" disabled=true><ion-icon name="close-circle">  Unblock Conversation</ion-icon></button>
</ion-list>
