<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content >
  <ion-card>
    <ion-slides pager>
      <ion-slide *ngFor = "let img of images | async">
        <img (click)="showImage(img.imgSrc)" src="data:image/png;base64,{{ img.imgSrc }}" class="slide-image">
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>
        {{(profile | async)?.name}}
      </ion-card-title>
      <h2>
        {{(profile | async)?.age}}
      </h2>
      <h2>
        {{(profile | async)?.gender}}
      </h2>
      <p>
        {{(profile | async)?.message}}
      </p>
    </ion-card-content>
    <div *ngIf="authUserView">
      <button ion-button block clear (click)="logout()">
        Logout
      </button>
    </div>

  </ion-card>

  <ion-fab *ngIf="authUserView" right bottom>
      <button ion-fab (click)="editProfile()" color="primary"><ion-icon name="create"></ion-icon></button>
   </ion-fab>

    <ion-fab *ngIf="!authUserView" right bottom>
      <button ion-fab (click)="goToConversation()" color="primary"><ion-icon name="text"></ion-icon></button>
   </ion-fab>



</ion-content>
