<!--
  Generated template for the FullscreenImgModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="modal image-modal transparent" (click)="closeModal()">
  <ion-content class="transparent">
    <ion-scroll
      direction="xy"
      zooming="true"
      min-zoom="1.0"
      max-zoom="2.5"
      overflow-scroll="false"
      has-bouncing="false">
      <img src="data:image/png;base64,{{imgSrc}}"  class="fullscreen-image"/>
   </ion-scroll>
  </ion-content>
</div>
