<!--
  Generated template for the AddImagePopover page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Upload Image</ion-title>
  </ion-navbar>

</ion-header>

<ion-list>
  <ion-list-header>Ionic</ion-list-header>
  <button ion-item (click)="uploadImageCamera()"><ion-icon name="camera">  Take picture</ion-icon></button>
  <button ion-item (click)="uploadImageFilesys()"><ion-icon name="folder-open">  Choose picture</ion-icon></button>
</ion-list>
