<ion-header>

</ion-header>

<ion-content >
  <ion-tabs #myTabs>
    <ion-tab tabIcon="person" [root]="tab1Root" [rootParams]="user"></ion-tab>
    <ion-tab tabIcon="map" [root]="tab2Root"></ion-tab>
    <ion-tab tabIcon="text" [root]="tab3Root"></ion-tab>
  </ion-tabs>

</ion-content>
