page-single-conversation {
  .messages {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .messages .message {
    flex: 1 1 auto;
    padding: 10px;
    word-wrap: break-word;
    text-align: left;

  }

  .messages span {
    background: #007AFF;
    display: inline-block;
    color: white;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    max-width: 60%;
  }

  .messages.other span {
    color: black;
    text-align: right;
    background-color: #C7C7CC;
  }


}
