<!--
  Generated template for the SingleConversation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{convProfObj.recipProfile.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showConversationPopover($event)" padding>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

    <ion-list no-lines>
        <ion-item *ngFor="let message of messages | async" [ngClass]="{other: message.sender != authdUser}" class = "messages" (click)="showTimestamp(message)" text-wrap>
          <span  *ngIf="message.sender != authdUser" item-right class = "message" >{{ message.body }}</span>
          <span  *ngIf="message.sender == authdUser" item-left class = "message" >{{ message.body }}</span>
          <p *ngIf="message.showTimestamp">{{ message.timestamp }}</p>
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <form [formGroup]="msgForm" (submit)="sendMessage()" novalidate>
      <ion-item>
        <ion-input #messageBody formControlName="messageBody"  [class.invalid]="!msgForm.controls.messageBody.valid" type="text" placeholder="Tyoe a message..."></ion-input>
        <button *ngIf="conversation.blocked.isBlocked==false"  ion-button item-right type="submit" >Send   <ion-icon name="send"></ion-icon></button>
        <button *ngIf="conversation.blocked.isBlocked==true" disabled=true ion-button item-right type="submit" >Conversation Blocked</button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
