<!--
  Generated template for the CachePlaceMap page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header padding>

Conversations

</ion-header>



<ion-content >
  <ion-list>

      <ion-item *ngFor="let conv of (conversations )" (click)="viewConversation(conv)">
        <ion-avatar item-left>
          <img src="data:image/png;base64,{{conv.mainImg}}">
        </ion-avatar>
        <h2>{{conv.name}}</h2>
        <p>{{conv.conversation}}</p>
      </ion-item>

  </ion-list>
</ion-content>
