<ion-header>
  <ion-navbar>
    <ion-title>Nearby Places</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshPlaces()" padding>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of nearbyPlaces " tappable (click)="chooseItem(item)">
        <ion-avatar item-left>
        <img src="{{item.icon}}">
      </ion-avatar>

      <h2>{{item.name}}</h2>
      <ion-icon name="arrow-forward" item-right></ion-icon>
      <p>{{item.address}}</p>
    </ion-item>
  </ion-list>
</ion-content>
